global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert_rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - localhost:9093

scrape_configs:
  - job_name: node
    static_configs:
{% for host in groups['all'] %}
      - targets: ["{{ hostvars[host]['private_ip'] }}:9100"]
        labels:
          hostname: "{{ host }}"
{% endfor %}

  - job_name: postgres
    static_configs:
{% for host in groups['postgres'] %}
      - targets: ["{{ hostvars[host]['private_ip'] }}:9187"]
        labels:
          hostname: "{{ host }}"
{% endfor %}

  - job_name: pgbouncer
    static_configs:
{% for host in groups['postgres'] %}
      - targets: ["{{ hostvars[host]['private_ip'] }}:9127"]
        labels:
          hostname: "{{ host }}"
{% endfor %}

  - job_name: haproxy
    static_configs:
{% for host in groups['loadbalancers'] %}
      - targets: ["{{ hostvars[host]['private_ip'] }}:8404"]
        labels:
          hostname: "{{ host }}"
{% endfor %}

  - job_name: patroni
    scheme: https
    tls_config:
      ca_file: /etc/prometheus-tls/ca.crt
    static_configs:
{% for host in groups['postgres'] %}
      - targets: ["{{ hostvars[host]['private_ip'] }}:8008"]
        labels:
          hostname: "{{ host }}"
{% endfor %}