[defaults]
inventory = inventory/hosts.ini
host_key_checking = True
interpreter_python = /usr/bin/python3.12
vault_password_file = .vault_pass
forks = 1

[ssh_connection]
retries = 3
pipelining = True